Repository tsdaemon/dnd-portrait-search: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, validate-datasets

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

validate-datasets:
  name: validate-datasets
  entry: make validate-datasets
  language: system

Add relevance calculation and weighted metrics
  portrait_search/quality/dataset.py
  portrait_search/quality/judge.py
  portrait_search/quality/metrics.py
  tests/quality/test_dataset.py
  tests/quality/test_judge.py
  tests/quality/test_metrics.py
Due: mypy

Closing up on experiments
  portrait_search/core/config.py
  portrait_search/core/enums.py
  portrait_search/embeddings/embedders.py
  portrait_search/embeddings/repository.py
  portrait_search/embeddings/splitters.py
  portrait_search/quality/experiments.py
Due: mypy

Rewrite splitters and embedders
  portrait_search/core/enums.py
  portrait_search/dependencies.py
  portrait_search/embeddings/embedders.py
  portrait_search/embeddings/repository.py
  portrait_search/embeddings/splitters.py
  portrait_search/embeddings/t2v.py
  portrait_search/generate_embeddings.py
  portrait_search/quality/experiments.py
  portrait_search/retrieval/similarity.py
  tests/embeddings/test_embedders.py
  tests/embeddings/test_splitters.py
  tests/embeddings/test_t2v.py
  tests/retrieval/test_similarity.py
  tests/test_generate_embeddings.py
Due: mypy

More experiments
  portrait_search/core/config.py
  portrait_search/core/enums.py
  portrait_search/do_experiments.py
  portrait_search/embeddings/repository.py
  portrait_search/embeddings/splitters.py
  portrait_search/quality/experiments.py
Due: mypy

Implemented procedure to automatically review dataset
  .yamllint.yaml
  dataset/v1/brutal-warrior.yaml
  dataset/v1/dreamy-woman.yaml
  dataset/v1/elf-fire-blades.yaml
  dataset/v1/gnome-rogue.yaml
  dataset/v1/human-druid-cleric.yaml
  dataset/v1/inquisitor-hammer.yaml
  dataset/v1/man-portrait.yaml
  dataset/v1/org-twohanded-rogue.yaml
  dataset/v1/red-cape-assasin.yaml
  dataset/v1/tanky.yaml
  experiments/Rework test dataset n2.ipynb
  poetry.lock
  portrait_search/core/entity.py
  portrait_search/embeddings/embedders.py
  portrait_search/embeddings/splitters.py
  portrait_search/quality/dataset.py
  pyproject.toml
Due: mypy, validate-datasets

Implemented procedure to automatically review dataset
  .yamllint.yaml
Due: validate-datasets

Finally proper storing of dataset
  .pre-commit-config.yaml
  dataset/v1/brutal-warrior.yaml
  dataset/v1/dreamy-woman.yaml
  dataset/v1/elf-fire-blades.yaml
  dataset/v1/gnome-rogue.yaml
  dataset/v1/human-druid-cleric.yaml
  dataset/v1/inquisitor-hammer.yaml
  dataset/v1/man-portrait.yaml
  dataset/v1/org-twohanded-rogue.yaml
  dataset/v1/red-cape-assasin.yaml
  dataset/v1/tanky.yaml
  experiments/Rework test dataset n2.ipynb
  portrait_search/quality/dataset.py
Due: mypy, validate-datasets

Another improvement to automatic
  experiments/Rework test dataset n2.ipynb
  portrait_search/quality/dataset.py
Due: mypy

Store dataset updates
  dataset/v1/brutal-warrior.yaml
  dataset/v1/dreamy-woman.yaml
  dataset/v1/elf-fire-blades.yaml
  dataset/v1/gnome-rogue.yaml
  dataset/v1/human-druid-cleric.yaml
  dataset/v1/inquisitor-hammer.yaml
  dataset/v1/man-portrait.yaml
  dataset/v1/org-twohanded-rogue.yaml
  dataset/v1/red-cape-assasin.yaml
  dataset/v1/tanky.yaml
  experiments/Rework test dataset n2.ipynb
Due: validate-datasets

Review tanky
  dataset/v1/tanky.yaml
  experiments/Rework test dataset n2.ipynb
Due: validate-datasets

Fix inquisitor
  dataset/v1/inquisitor-hammer.yaml
  dataset/v1/tanky.yaml
  experiments/Rework test dataset n2.ipynb
Due: validate-datasets

Dreamy woman
  dataset/v1/dreamy-woman.yaml
  experiments/Rework test dataset n2.ipynb
Due: validate-datasets

Softmax
  portrait_search/do_experiments.py
  portrait_search/embeddings/embedders.py
  portrait_search/quality/judge.py
  tests/quality/test_judge.py
Due: mypy

Rework metrics
  portrait_search/quality/metrics.py
  tests/quality/test_metrics.py
  tests/test_generate_embeddings.py
Due: mypy

Save changes
  portrait_search/core/config.py
  portrait_search/embeddings/splitters.py
Due: mypy

Path conditions:
  mypy: any of: \.py$
  validate-datasets: any of: \.(yaml|yml)$
